/* ============== ACHIEVEMENTS ============= */
.about__achievements {
  margin-top: 3rem;
}

.about__achievements-container {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 5rem;
}

.about__achievements-right > p {
  margin: 1.6rem 0 2.5rem;
}

.achievements__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.achievement__card {
  background: var(--color-bg1);
  padding: 1.6rem;
  border-radius: 1rem;
  text-align: center;
  transition: var(--transition);
}

.achievement__card:hover {
  background: var(--color-bg2);
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.achievement__icon {
  background: var(--color-danger);
  padding: 0.6rem;
  border-radius: 1rem;
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.achievement__card:nth-child(2) .achievement__icon {
  background: var(--color-success);
}

.achievement__card:nth-child(3) .achievement__icon {
  background: var(--color-primary);
}

.achievement__card p {
  margin-top: 1rem;
}

/* ============== TEAM ============= */
nav {
  background: #A5D8F6;;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: "Montserrat", sans-serif;
  position: relative;
  line-height: 1.7;
  margin: 0 auto;
  background: #358CFF;
}
section{
  text-align: center;
}
h1 section{
  margin-top: 1rem;
}
.upper-name{
  margin-top:5rem;
  text-align: center;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
}
.middle-name{
  margin-top:5rem;
  text-align: center;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
}

.bottom-name{
  text-align: center;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top:5rem;
}


.Track__container{
  margin-top: 2rem;
  background: #004B84;
}

.upper_Trc,.middle1_Trc,.middle2_Trc,.bottom_Trc{
  text-align: center;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top:0.1rem;
}

.upper_adv{
  color:  #004B84;
  text-align: center;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top:0.1rem;
}

.lower_adv{
  color:  #004B84;
  text-align: center;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top:0.1rem;
}
hr{
  margin: 1px;
  padding: 1px;
  border: 1px;
  outline: 1px;
}
.team {
  background: var(--color-bg1);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
  position: relative;
}

.team__container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.team__member {
  background: var(--color-bg2);
  padding: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  position: relative;
  overflow: hidden;
}

.team__member:hover {
  background: transparent;
  border-color: var(--color-primary);
}

.team__member-image img {
  filter: saturate(0);
}
.image-resize{
  height: 30rem;
  object-fit: cover;
}

.team__member:hover img {
  filter: saturate(1);
}

.team__member-info * {
  text-align: center;
  margin-top: 1.4rem;
}

.com-title{
  color: #A5D8F6;
}

.team__member-info p {
  color: var(--color-light);
}

.team__member-socials {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -100%;
  display: flex;
  flex-direction: column;
  background: var(--color-primary);
  border-radius: 1rem 0 0 1rem;
  box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
  transition: var(--transition);
  overflow: hidden;
}

.team__member:hover .team__member-socials {
  right: 0;
}

.team__member-socials a {
  padding: 1rem;
  transition: var(--transition);
}

.team__member-socials a:hover {
  background: var(--color-bg2);
}
/* ==================== MEDIA QUERIES (TABLETS) ================= */
@media screen and (max-width: 1024px) {
  .about__achievements {
    margin-top: 2rem;
  }

  .about__achievements-container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .about__achievements-left {
    width: 80%;
    margin: 0 auto;
  }

  .team__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .team__member {
    padding: 1rem;
  }
}

/* ==================== MEDIA QUERIES (phone) ================= */
@media screen and (max-width: 600px) {
  .achievements__cards {
    grid-template-columns: 1fr;
    gap: 0.7rem;
  }

  .team__container {
    grid-template-columns: 1fr;
    gap: 0.7rem;
  }

  .team__member {
    padding: 1rem 1rem 1rem 1rem;
  }

  .team__member p {
    margin-bottom: 1.5rem;
  }
  section{
    margin: 0rem;
  }
  .upper-name,.middle-name,.bottom-name
  {
    grid-template-columns: repeat(1, 1fr);
    gap: 10rem;
    margin: 0rem;
  }
  .upper_Trc,.middle1_Trc,.middle2_Trc,.bottom_Trc{
    margin: 0rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 10rem;
  }

  .upper_adv,.lower_adv{
    margin: 0;
    grid-template-columns: repeat(1, 1fr);
    gap: 10rem;
  }
  .image-resize{
  height: 30rem;
  object-fit: cover;
}
}
